extends layout

block content
	br
	.row
		.col-sm-10
			h2 Enter your choices
		.col-sm-2
			a.btn.btn-primary(href='/cars/'+user.uname) See your favorite cars
	hr
	.row
		form.needs-validation(method="POST" action="/"+user.uname+"/carSearch")
			.row
				.form-group.col-sm-3
					label Model no. :
					input.form-control(name="mno" ,type="text", placeholder="Model no.")
				.form-group.col-sm-3
					label Car name :
					input.form-control(name="cname" ,type="text", placeholder="Car name")
				.form-group.col-sm-3
					label Car color :
					input.form-control(name="color" ,type="text", placeholder="Color")
			.row
				.form-group.col-sm-3
					label Engine capacity from : (cc)
					input.form-control(name="engcap1" ,type="text", value='0')
				.form-group.col-sm-3
					label To: (cc)
					input.form-control(name="engcap2" ,type="text", value='50000')
				.form-group.col-sm-3
					label Mileage from : (kmpl)
					input.form-control(name="mil1" ,type="text", value='0')
				.form-group.col-sm-3
					label To : (kmpl)
					input.form-control(name="mil2" ,type="text", value='150')
			.row
				.form-group.col-sm-3
					label Maximum speed from : (kmph)
					input.form-control(name="maxsp1" ,type="text", value='0')
				.form-group.col-sm-3
					label To : (kmph)
					input.form-control(name="maxsp2" ,type="text", value='2000')
				.form-group.col-sm-3
					label Price from : (Rs.)
					input.form-control(name="price1" ,type="text", value='0')
				.form-group.col-sm-3
					label To : (Rs.)
					input.form-control(name="price2" ,type="text", value='300000000')
			.row
			br
			input.btn.btn-success(type="submit" value="Search")
	br
	hr
	if cars
		h1 Search result
		h5 Showing #{cars.length} results
		hr
		each car in cars
			- var f=1;
			.card
				.col-sm-3
					img(src=car.imgpath)
				.col-sm-3
					h2 #{car.name}
					br
					h4 Model no : #{car.mno}
					h4 Rs.#{car.price}
				.col-sm-3
					br
					h4 Color : #{car.color}
					h4 Mileage : #{car.mileage} kmpl
					h4 #{car.engcap} CC
					h4 #{car.maxsp} kmph Top speed
				if favs
					-
						
						for (var i = 0; i < favs.length; i++) {
							if(favs[i].mno==car.mno){
								f =0;
								break;
							}
						}
					if f
						.col-sm-3
							form.middle(method="POST" action="/"+user.uname+"/"+car.mno+"/addToFavs")
								input.btn.btn-success(type="submit" value="Add to favourites")
					else
						.col-sm-3
							form.middle(method="POST" action="/"+user.uname+"/"+car.mno+"/delFromFavs")
								input.btn.btn-warning(type="submit" value="Delete from favourites")
			hr

